{% extends 'base.html' %} {% block head %}
<title>The Store</title>
{% endblock %} {% block body %}
<div class="m-3">
	<button type="button" class="btn btn-primary">Selected Filter</button>
	<button type="button" class="btn btn-outline-primary bg-body-tertiary">
		Primary
	</button>
	<button type="button" class="btn btn-outline-primary bg-body-tertiary">
		Primary
	</button>
	<button type="button" class="btn btn-outline-primary bg-body-tertiary">
		Primary
	</button>
	<button type="button" class="btn btn-outline-primary bg-body-tertiary">
		Primary
	</button>
</div>

<!-- Section -->
<section class="py-3">
	<p class="text-center text-body-tertiary">Section</p>
	<div class="row">
		<div class="col-1"></div>
		<!-- Container -->
		<div class="col-10 bg-body-tertiary border rounded-3">
			<!-- Content -->
			<div class="row py-2 s-2">
				<div class="col">
					<span class="fw-medium"
						>Product title na hindi ko alam kung ano</span
					>
					<br />
					<span class="fw-light">Small</span>
				</div>
				<span
					class="col my-auto text-center text-success fs-5 fw-semibold"
					>&#8369;Price</span
				>
			</div>
		</div>
	</div>
	<div class="col-1"></div>
</section>

{% endblock %}
